<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conexión LocalHost
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conexión a Localhost</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Data Access Localhost</strong>
    <div>
      <ion-button (click)="obtenerUsuarios()" color="primary"
      shape="round">Cargar Datos</ion-button>
    </div>
  </div>
  <div class="table-container">
    <table class="center-table">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Password</th>
        <th>Estado</th>
      </tr>
      <tr *ngFor="let listaCompleta of listado">
        <td>{{listaCompleta.id}}</td>
        <td>{{listaCompleta.nombre}}</td>
        <td>{{listaCompleta.email}}</td>
        <td>{{listaCompleta.pass}}</td>
        <td>{{listaCompleta.estado}}</td>
      </tr>
    </table>
  </div>

</ion-content>
